@font-face {
    font-family: 'OpenDyslexic3';
    src: url('OpenDyslexicThree-Regular.woff2') format('woff2'),
        url('OpenDyslexicThree-Regular.woff') format('woff'),
        url('OpenDyslexicThree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GeologicaRoman';
    src: url('GeologicaRoman-Bold.woff2') format('woff2'),
        url('GeologicaRoman-Bold.woff') format('woff'),
        url('GeologicaRoman-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GeologicaRoman';
    src: url('GeologicaRoman-Regular.woff2') format('woff2'),
        url('GeologicaRoman-Regular.woff') format('woff'),
        url('GeologicaRoman-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic3';
    src: url('OpenDyslexicThree-Bold.woff2') format('woff2'),
        url('OpenDyslexicThree-Bold.woff') format('woff'),
        url('OpenDyslexicThree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('RubikMonoOne-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik2';
    src: url('Rubik-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceCode';
    src: url('SourceCodePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad';
    src: url('Afacad.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}